body{
    background-color:white;
}

.structureTabPanel{
    display: none;
}

.embelishmentsTabPanel{
    display: none;
}

.UI{
    padding-top: 20px;
    background-color: blue;
}

.menuBar{
    background-color: grey;
}

.buttonContainer{
    padding-top: 5px;
    background-color:lightgray;
}

.controlButtons{
    float: left;
    width: 30%;
    overflow: hidden;
}

.mediaButtons{
    overflow: hidden;
}

.speedSlider{
    overflow: hidden;
}

.mainArea{
    background-color:gray;
    width: 100%;
    height: 100%;
}

.notePanel{
    width: 20%;
    height: 100%;
    background-color:lightblue;
    float: left;
    overflow: hidden;
}

.sheet{
    background-color: white;
    height: 100%;
    padding-left: 24em;
    margin: auto;
    padding-top: 1em;
}

#sheetCanvas{
    border: 1px solid rgb(211, 211, 211);
}

/* #sheetCanvas{
    border: 1px solid rgb(211, 211, 211);
    width: 93em;
    height: 70%;
    padding-top: 0em;
    padding-left: 15px;
    overflow: hidden;
} */

.basicTabPanel button img{
    width: 15px;
    height:70px;
}



